html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#wrapper {
  min-height: 100%;
  position: relative;
}

#root {
  padding-bottom: 60px;
  /* Height of the footer element */
}

#footer {
  background: rgba(23, 23, 23, 0.05);
  width: 100%;
  height: 40px;
  text-align: center;
  position: absolute;
  padding: 10px 0;
  left: 0;
  bottom: 0;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
}